/* ------------------------------------ *\
  # PAGE
\* ------------------------------------ */

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

body {
  background-color: var(--color-page-background);
  color: var(--color-page-text);
  font-family: var(--global-fonts);
}
