/* ------------------------------------ *\
  # COLORS
\* ------------------------------------ */

:root {
  --color-page-background: #d7cdcc;
  --color-page-text: #292f36;

  --color-game-title: #bd1e1e;
  --color-game-text: #17255a;
}
